Title{
    font-family: Georgia, serif;
    color: dodgerblue;
}

head{
    font-family: '
    Times New Roman, serif;
}

body{
	width: 100%;
	display: block;
	overflow-x: hidden;
	background-color: #1f2029;
    color: #c4c3ca;
	font-family: 'Times New Roman', serif;
}

h2{
    color: blueviolet;
}

p{
    color: cyan;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


img{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    cursor: pointer;
}
 
  footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: purple;
    color: aliceblue;
    text-align: center;
}

.footer-content{
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: .03em;
    font-size: 1em;
}

